
header{
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    
}
main{
   padding-top: 10px;
}
.tab{
    padding: 20px;
}

.tab1{
    margin-bottom: 10px;
    padding: 20px;
}
footer{
 
    padding-top: 10px;
}
.circle{
    width:100px;
    height:90px;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: -150px;
}
.hello{
    margin-top: -80px;
    margin-left: 120px;
}
