.img{
    position: fixed;
    z-index: 1000; 
}
.img2{
        position: fixed;
        z-index: 999;   /* Под модальным окном */
}
.img3{
    position: fixed;
    z-index: -1;    /* Уйдет под обычный поток */
}
