.img {
    position: fixed;
    z-index: 1000;
    background: red;
}

.img2 {
    position: fixed;
    z-index: 999;
    background: blue;
}

.img3 {
    position: fixed;
    z-index: -1;
    background: green;
}
