.img {
    position: fixed;
    z-index: 1000;
  
}

.img2 {
    position: fixed;
    z-index: 999;
   
}

.img3 {
    position: fixed;
    z-index: -1;
  
}
.clamp{
    font-size:clamp(200px, 50%, 4rem);
}
