.img {
    position: fixed;
    z-index: 1000;
  
}

.img2 {
    position: fixed;
    z-index: 999;
   
}

.img3 {
    position: fixed;
    z-index: -1;
  
}
h4 *{
    border: clamp(1px, 0.15vw, 3px) solid #4a90e2;
}
