.img {
    position: fixed;
    z-index: 1000;
  
}

.img2 {
    position: absolute;
    z-index: 999;
   
}

.img3 {
    position: absolute;
    z-index: -1;
  
}
.clamp{
    border: clamp(1px, 0.15vw, 3px) solid #4a90e2;
}
.img4 {
    border: 4px, solid red;
    border-radius: 10%;
    position: absolute;

}

.img5 {
    border: 4px, solid purple;
    border-radius: 10%;
    position: relative;
    
}
.img6 {
    border: 4px, solid green;
    border-radius: 10%;
    position: fixed;
}
.img7 {
    border: 4px, solid blue;
    border-radius: 10%;
    position: static;
}
.exs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
