.img {
    position: fixed;
    z-index: 1000;
  
}

.img2 {
    position: fixed;
    z-index: 999;
   
}

.img3 {
    position: fixed;
    z-index: -1;
  
}
h2 {
    font-size:clamp(100px, 50%, 200px);
    padding: clamp(1rem, 5vw, 4rem);
    border: 2px solid #333;
}
