.img {
    position: fixed;
    z-index: 1000;
  
}

.img2 {
    position: absolute;
    z-index: 999;
   
}

.img3 {
    position: absolute;
    z-index: -1;
  
}
.clamp{
    border: clamp(1px, 0.15vw, 3px) solid #4a90e2;
}
.img4 {
    border: 4px, solid red;
    border-radius: 10%;
    position: absolute;

}

.img5 {
    border: 4px, solid purple;
    border-radius: 10%;
    position: relative;
    
}
.img6 {
    border: 4px, solid green;
    border-radius: 10%;
    position: fixed;
}
.img7 {
    border: 4px, solid blue;
    border-radius: 10%;
    position: static;
}
.exs{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 10px;

    padding: 20px;
}
.text {
    flex: 1 1 300px; /* Растягивается/сжимается от 300px */
    margin-left: 5px;
    text-align: center;
    padding: 20px;
}
.grid-container{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr; /* 3 пути по горизонтали, 4 линии */
        grid-template-rows: 100px 200px;    /* 2 пути по вертикали, 3 линии */
        border: 4px solid black;
      }
    
.grid-item{
    grid-column: 1 / 3; /* От 1-й до 3-й вертикальной линии (2 пути шириной) */
    grid-row: 1 / -1;   /* От 1-й горизонтальной линии до последней */
    border: 4px solid black;
}
